<div class="modal-backdrop" (click)="close.emit()"></div>
<div class="modal">
  <h3>
  {{ event ? 'Edit Event' : 'Create Event' }} - 
  {{ date | date:'fullDate' }} 
</h3>
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <input formControlName="title" placeholder="Event title" required>
    <select formControlName="categoryId">
      <option value="work">Work</option>
      <option value="personal">Personal</option>
      <option value="others">Others</option>
    </select>
    <div class="buttons">
      <button type="submit">Save</button>
      <button type="button" (click)="onDelete()" *ngIf="event">Delete</button>
      <button type="button" (click)="close.emit()">Cancel</button>
    </div>
  </form>
</div>
